
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {

    --font-family-primary:'Roboto', sans-serif;
    --font-family-second:'Raleway', sans-serif;

    --text-color-primary: #212121;
    --color-accent: #2196F3;
    --color-secondary: #757575;
    --color-third: #000000;
    --color-other: #FFFFFF;
    --color-alfa: rgba(255, 255, 255, 0.60);
    --color-gradient:rgba(47, 48, 58, 0.4);
    --color-client:#AFB1B8;

    
    --background-color-primary:#FFFFFF;
    --background-color-second:#2F303A;
    --color-background-third:#F5F4FA;
    --color-background-accent:#2196F3;
}

/* утиліти  */
h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* боді */
body {
    font-family: var(--font-family-primary);
    font-size: 14px;
    line-height: 1.17;
}
/* контейнер */
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* хедер */

.header-flex{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    align-items:center;
    justify-content: space-between;

   

}

.header-flex-nav{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items:center;
}


.header-flex-data{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items:center;
}s
header{
    border-bottom: 1px solid var(--color-secondary);

}

.header-page {
    background-color:var(--background-color-primary);
    
  
}
.header-page .logo {
font-family: var(--font-family-second);
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;

}
.header-page .logo-first-half {
    color: var(--color-accent);
}
.header-page .logo-secondary-half {
    color: var(--color-third);
}

/* навігація */
.nav-list {
    display:flex ;
    margin-left: 93px ;
   

    color: var(  --text-color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
}
li.margin-on-header {
    margin-right: 50px;
}
li.margin-on-header:last-child{
    margin-right: 0px;   
}
.link-nav{
    position: relative;
    
}
.link.link-nav::after{
    content: "";
    position: absolute;
   left: 0;
   bottom: -25px;
   
    width: 100%;
    height: 4px;
    background-color:var(--color-background-accent);  
    border-radius: 2px
}

.nav-list .link {
    
    color: var( --text-color-primary); 
    padding: 8px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              
} 


 
.link:hover,
.link:focus {
    color: var(--color-accent);
}
/* дані */
.data-list {
    display: flex;
    margin-left: auto;
    

    color: var(  --text-color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.data-list .data-items{
    display: flex;
    align-items:center;
    padding-top: 8px;
    padding-bottom: 8px;  
    padding-right: 50px;
    color: var(--color-secondary); 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.data-list .data-items:last-child{
    padding-right: 0;
}
.data-items:hover,
.data-items:focus{
    color: var(--color-accent);
}



.data-items:hover .icon-data,
.data-items:focus .icon-data{
    fill: var(--color-accent);
}
.main-page{ 
    background-color:var(--background-color-primary);
}  
.icon-data{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--color-secondary);
}


/* герой */

.hero{
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),  url('../images/hero.jpg');

    max-width: 1600px;  
    

    background-color: var(--background-color-second);
    
   
    background-size: cover;
    
   
    background-repeat:no-repeat;
    background-position: center;
    margin: auto;
}

.hero-container{
    
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
    display: block;
    
    

    margin-bottom: 30px;
    color: var(--color-other);
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
}
.hero-button{
    border: var(--color-accent);
    border-radius: 4px;
    padding: 10px 32px  10px;
    margin: 0 auto;
    display: block; 
    margin: 0 auto; /* Центрування по горизонталі */



    font-family: var(--font-family-primary);
    color: var(--color-other);
    background-color: var(--color-background-accent);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

}
.hero-button:hover,
.hero-button:focus {
    opacity: 0.8;
}

/* заголовок */
 .hidden-title {
    opacity: 0; /* Текст стає невидимим */
  visibility: hidden; /* Текст залишається невидимим і не займає місце */
}
.flex-box {
    display: flex;
    justify-content: space-between;
}
.advantages-container{
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.hidden-text{
    box-sizing: content-box;
    margin-right: 30px;
    width: 270px;
    
}
.hidden-text:last-child{
    margin-right: 0px;
}
.hidden-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px; 
}
.advantages-icon{
    width: 70px;
    height: 70px;
  
}
.subtitle {
    display: block;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.subtitle-text {
    
    color: var(--color-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.title-image{

}

/* ЗАГОЛОВКИ МЕЙН */
.main-title{
    display: block;
    margin-bottom: 50px;

    color: var(--text-color-primary);
    text-align: center;
    font-size: 36px;
}
/* секція з зображеннями */
.container-img{
    padding-bottom: 94px;  
}
.flex-box-img{
display: flex;
justify-content:space-between;
}
.image-box{

    position: relative;
    height: 294px;
}
.image-owerlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
   
    bottom:0;
    left: 0;
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    background: rgba(47, 48, 58, 0.80);

}
.title-image{
    color: var(--color-other);
   
    
    
}
/* СЕКЦІЯ КОМАНДА */
.team-section {
    background-color:var(--color-background-third);
}
.team-container{
    padding-bottom: 94px;
    padding-top: 94px;
}
.flex-box-team{
    display: flex;
    justify-content:space-between;
}
.team-information{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-box{
    width: 270px;
    height: 428px;
    margin-right: 30px;

    background-color: var(--color-background-other);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-box:last-child{
    margin-right: 0;
}
.team-title{
    
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em; 

}
.team-text{
    
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-social-link{
    display: flex;
    padding-right: 32px;
    padding-left: 32px;
    justify-content:center;
    margin-top: 16px;
}
.social-link{
    display: flex;
  align-items: center;
  justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
  margin-right: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:last-child {
    margin-right: 0;
}

.social-link:hover,
.social-link:focus{
    background-color: var(--color-accent);
}
.social-link-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon,
.social-link:focus .social-link-icon-icon{
    fill: #FFFFFF;
    background-color: var(--color-background-accent);

} /* клієнти */

.client-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .client-iteme{
    margin-right: 15px;
    margin-left: 15px;
  }
  .client-box{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--color-client);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .client-box:hover,
  .client-box:focus{
    border: 1px solid var(--color-accent);
  }

  .client-icone{
    max-width:  106px;
    height: 60px;
    fill: var(--color-client);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .client-box:hover .client-icone,
  .client-box:focus .client-icone{
    fill: var(--color-accent);
  }
 
/* портфоліо */
.container-portfolio{
    
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

/* контейнер навігації */
.nav-portfolio{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;

}
/* кнопки */
.filter-button{
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    


    color: var(--text-color-primary);
    background-color: var(--color-background-third);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    transition:  
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}


.button-list-magin{
    margin-right: 8px;
}
.button-list-magin:last-child{
    margin-right: 0;
}
.filter-button:focus,
.filter-button:hover {
    color: var(--color-other);
    background-color: var(--color-background-accent);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);;
}
/* зразки робіт */
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.container-element{
    /* margin-right: 30px; */
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.container-element:hover,
.container-element:focus {
    
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    
}

/* динамічний оверлей */
.owerlay-box{
    position: relative;
    overflow: hidden;
   
}
.owerlay{
    
    position: absolute;
    background-color: var(--color-background-accent);
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.9;
    padding: 63px 24px;
}
.owerlay-text{
    color: var(--color-other);
font-family:var(--font-family-primary);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.56;
width: 322px;

}
.container-element:hover .owerlay{
    transform: translateY(-100%); 
}

.container-element:nth-child(3n){
    margin-right: 0;
}
.container-element:nth-last-child(-n + 3){
margin-bottom: 0;
}
.portfolio-information{
    padding: 20px 24px ;
}
.portfolio-element{
   
    width: 370px
    
}


.title-portfolio{
   
    margin-bottom: 10px;

    color: var(--text-color-primary);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.text-portfolio{
    
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.48px;
}

/* футер */


.footer-page{
    background-color: var(--background-color-second);
}
.container-footer{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-address{
display: flex;
flex-direction:column;
}


.footer-page .logo{
    display: block;
 margin-bottom: 20px ;
 padding-top: 8px;
    padding-bottom: 8px;
 

    font-family: var(--font-family-second);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;  
}
.footer-page .logo-first-half {
    color: var( --color-accent);
}
.footer-page .logo-secondary-half {
    color: var(--color-other);
}



.footer-adress{
    color: var(--color-other);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;  
}
.footer-page .data-items  {

    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--color-alfa);
   

}

.footer-title{
    color: var(--color-other);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}
.footer-social-link{
    display: flex;
}
.footer-join{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 70px;
    margin-top: 12px;
}

.social-link-footer-icone{
    background-color: rgba(255, 255, 255, 0.10);;
    margin-right: 10px;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer-magin{
 margin-right: 10px;   
}



.footer-icone{
    width: 20px;
    height: 20px;;
    fill: var(--color-other);
}
/* .footer-page .data-items:last-child{
margin-bottom: 0; */


.footer-page .data-items:hover,
.footer-page .data-items:focus {
    color: var(--color-accent);
}

.footer-magin{
    margin-bottom: 9px;  
    
}
/* футерформа */
.form-conteiner{
margin-top: 10px;
margin-left: 93px;
}
.form-footer-conteiner{
    display: flex;
    justify-content: center; /* Вирівнювання горизонталі */
    align-items: center; 
}

.input-footer{
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    margin-right: 12px;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: rgba(255, 255, 255, 0.60);
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
}
.footer-buton{
    display: flex;
    justify-content: center; /* Вирівнювання горизонталі */
    align-items: center; 
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    
}
.footer-input-icone{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


/* модалка */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
   pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 
    width: 528px;
    min-height: 581px;
    flex-shrink: 0;


    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.button-close{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    background-color: #FFFFFF;
    border-color:  rgba(0, 0, 0, 0.10);;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.10);
    padding: 6px;

}

.icone-close{

    width: 18px;
    height: 18px;
    /* top: 50%;
    left: 50%;
  transform: translate(-50%, -50%); */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icone-close:hover{
    fill: var(--color-background-accent);
}
.form-general{

}
.general-iformation{
    margin: 12px 40px 20px;
}
.modal-title{
    color: var(--text-color-primary);
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;

    margin: 40px 40px 0px;
}

.label-form{
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}
.label-form:first-child{
    margin-top: 0;
}
.input-form {
    
    display: block;
    width: 100%;
    width: 448px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    padding: 12px 12px  12px 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon{
    position: absolute;
    top:0;
    left:0;
    width: 18px;
    height: 18px;
    margin: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus{
    border: 1px solid #2196F3;
    outline: none;
}
.input-form:focus+.form-icon{
    fill: var(--color-background-accent);
}

/* текст арія */
.textarea-form{
    display: block;
    width: 100%;
    width: 448px;
    min-height: 120px; 
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize:none;
    padding: 12px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.textarea-form:focus{
    border: 1px solid #2196F3;
    outline: none;
}
.textarea-form::placeholder{
    color: rgba(117, 117, 117, 0.50);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12p
}
/* чек-бокс */
.input-area{
    position: relative;
}

.checkbox-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox{
    opacity: 0;
    position: relative;
    width: 16px;
    height: 15px;
}


.checkbox:checked + .check-icon-end {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon{
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    flex-shrink: 0;
   
}
.check-icon-start{
    pointer-events: none;
    top:0;
    left:0;
    position: absolute;
    width: 16px;
    height: 15px;
    z-index: 1;
    
   
}
.check-icon-end {
    pointer-events: none;
    fill: var(--color-background-accent); /* Змініть на відповідний колір */
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* кнопка форми */
.button-valid{
    width: 200px;
    height: 50px;
    margin: 30px 164px 40px;
    border: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
    font-family: var(--font-family-primary);
    color: var(--color-other);
    background-color: var(--color-background-accent);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 187%; /* 187.5% */
    letter-spacing: 0.96px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-valid:hover,
.button-valid:focus {
    opacity: 0.8;
}
.link-form{
    color: var(--color-accent);
    text-decoration-line: underline;
}